{
  somehost    = { interfaces.eth0.mac   = "aa:bb:cc:dd:ee:ff"; };
  anotherhost = { interfaces.eth0.mac   = "aa:bb:cc:dd:ee:ff"; 
                  interfaces.wlan0.mac  = "aa:bb:cc:dd:ee:ff"; };
}
