#!/usr/bin/env bash

[[ -f .envrc.local ]] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-default}

#source "$(nix eval .#__std.direnv_lib)"

#use std cells //automation/devshell:${DEVSHELL_TARGET}
use flake
