.bin
.cache
.config
.data
.run
result
legacy/.xmonad/*
!legacy/.xmonad/xmonad.hs

nix/iot/packages/wizkell/dist-newstyle/

#emacs
*~
\#*\#
# nixago: ignore-linked-files
/.conform.yaml
/lefthook.yml
/treefmt.toml
