.bin
.cache
.config
.data
.run
result
legacy/.xmonad/build-x86_64-linux/
legacy/.xmonad/xmonad-x86_64-linux
legacy/.xmonad/xmonad.errors
nix/iot/packages/wizkell/dist-newstyle/

#emacs
*~
\#*\#
# nixago: ignore-linked-files
/.conform.yaml
/lefthook.yml
/treefmt.toml